{% extends 'with-footer.html' %}
{% load cms_tags %}
{% load sekizai_tags %}
{% load md %}

{% block "title" %}
School of Data - {{course.name}}
{% endblock %}
{% block base_content %}
{% addtoblock "css" %}
<link rel="stylesheet" href="/static/css/courses.css" />
{% endaddtoblock %}
<div class="row-fluid">
<div class="offset1 span10">
<h1>{{course.name}}</h1>
{% if request.user.is_authenticated %}
<div class="btn-group">
<a href="edit/" class="btn">Edit</a> 
<a href="#" class="btn">Translate</a>
{% if perms.courses.can_feature_course %}
<a href="feature/" class="btn">Feature</a>
{% endif %}
</div>
{% endif %}
{{course.description|markdown}}
{% if modules %}
<ul class="modulelist">
{% for module in modules %}
    <li>
    <a href="./{{module.slug}}"><h2>{{module.name}}</h2></a>
    {{module.description|markdown}}
    </li>
{% endfor %}
</ul>
{% endif %}
</div>
</div>
{% endblock %}
