
p.slug label, p.slug input {
    font-size: 70%;
    line-height: 70%;
    }
p.slug input {
    background: yellow;
    height: 16px;
    }

textarea {
    margin-left: auto;
    width: 90%;
    height: 200px;
    }

ul.modulelist {
    list-style: none;
    margin: 0;
    }

ul.modulelist li{
    background: #CCCCCC;
    padding: 2px;
    border-radius: 2px;
    margin-bottom: 5px;
    }
ul.modulelist > li> h2, ul.modulelist > li > a > h2  {
    margin-top: 0;
    }    
