{% extends "with-footer.html" %}
{% load cms_tags %}
{% load sekizai_tags %}
{% block "title" %}
School of Data - Login
{% endblock %}

{% block base_content %}
<h1> Sign in </h1>
{% if error %}
<ul class="errorlist">
    <li>{{error}}</li>
</ul>
{% endif %}
<form action='' method="POST">
<label for="username">User Name</label>
<input type="text" value="{{username}}" id="username" name="username" />
<label for="password">Password</label>
<input type="password" id="password" name="password" />
{% csrf_token %}
<input type="submit" name="Submit" value="Log in" />
</form>
{% endblock %}
