{% extends "iframe.html" %}
{% load sekizai_tags %}

{% block "content" %}

{% addtoblock "css" %}
<link rel="stylesheet" href="/static/scoda-ext.css" />
{% endaddtoblock %}

<form method="post">
<h1>School of Data Event Feedback Form</h1>

<p>Hi there, you’ve just been at a School of Data event – Thank you for
coming! Now it's your turn: let us know how the event was, is there
something you wish we did but didn't? Was it helpful, exciting?</p>
<div class="wrong">
{{ form.non_field_errors }}
</div>
{% csrf_token %}
<section>
<h2 class="questiontitle">
Which event did you attend?
</h2>
<span class="explanation">
If you attended an Event or Data-Expedition select one. Some events have badges associated and you will be able to
claim the badge if you enter your email address below.
</span>
<div class="wrong">
{{ form.event.errors }}</div>
{{ form.event }}
</section>
<section>
<h2 class="questiontitle">
Your Name
</h2>
<span class="explanation">
This is optional but very useful to stay in touch.
</span>
<div class="wrong">
{{form.name.errors}}</div>
{{form.name}}
</section>
<section>
<h2 class="questiontitle">
Email
</h2>
<span class="explanation">
This is also optional. If the event has a badge and you want to earn it you
have to give us the email address you use for your <a
href="http://backpack.openbadges.org" target="_new">Backpack</a>
</span>
<div class="wrong">
{{form.email.errors}}
</div>
{{form.email}}
</section>
<section>
<h2 class="questiontitle">
Nationality
</h2>
<span class="explanation">
</span>
<div class="wrong">
{{form.nationality.errors}}
</div>
{{form.nationality}}
</section>
<section>
<h2 class="questiontitle">
How useful was the event for you?
</h2>
<span class="explanation">
please rate the following statements
</span>
<table>
<thead>
<tr>
    <td></td>
    <td>Strongly Disagree</td>
    <td>Disagree</td>
    <td>Neither</td>
    <td>Agree</td>
    <td>Strongly Agree</td>
</tr>
</thead>
<tbody>
<tr>
    <td class="title">It was worthwhile for me attending the event
    <div class="wrong">{{form.worthwhile.errors}}</div>
    </td>
    <td><input type="radio" name="worthwhile" value="1" /></td>
    <td><input type="radio" name="worthwhile" value="2" /></td>
    <td><input type="radio" name="worthwhile" value="3" /></td>
    <td><input type="radio" name="worthwhile" value="4" /></td>
    <td><input type="radio" name="worthwhile" value="5" /></td>
</tr>
<tr>
    <td class="title">I learned something useful
    <div class="wrong">{{form.useful.errors}}</div>
    </td>
    <td><input type="radio" name="useful" value="1" /></td>
    <td><input type="radio" name="useful" value="2" /></td>
    <td><input type="radio" name="useful" value="3" /></td>
    <td><input type="radio" name="useful" value="4" /></td>
    <td><input type="radio" name="useful" value="5" /></td>
</tr>
<tr>
    <td class="title">I feel more empowered to use data effectively
    <div class="wrong">{{form.empowered.errors}}</div>
    </td>
    <td><input type="radio" name="empowered" value="1" /></td>
    <td><input type="radio" name="empowered" value="2" /></td>
    <td><input type="radio" name="empowered" value="3" /></td>
    <td><input type="radio" name="empowered" value="4" /></td>
    <td><input type="radio" name="empowered" value="5" /></td>
</tr>
<tr>
    <td class="title">I am likely to organise a similar event in my community
    <div class="wrong">{{form.organise.errors}}</div>
    </td>
    <td><input type="radio" name="organise" value="1" /></td>
    <td><input type="radio" name="organise" value="2" /></td>
    <td><input type="radio" name="organise" value="3" /></td>
    <td><input type="radio" name="organise" value="4" /></td>
    <td><input type="radio" name="organise" value="5" /></td>
</tr>
</tbody>
</table>
</section>
<section>
<h2 class="questiontitle">
What is the main thing you learned today?
</h2>
<span class="explanation">
</span>
<div class="wrong">
{{form.learned.errors}}
</div>
{{form.learned}}
</section>
<section>
<h2 class="questiontitle">
What is the main thing we should improve for the next event?
</h2>
<span class="explanation">
Suggestions: think about the topics, pace, length, level
</span>
<div class="wrong">
{{form.imporve.errors}}
</div>
{{form.improve}}
</section>
<section>
<h2 class="questiontitle">
Leave a brief testimonial to future learners so we can spread the word:
</h2>
<span class="explanation">
</span>
<div class="wrong">
{{form.testimonial.errors}}
</div>
{{form.testimonial}}
</section>
<input type="submit" value="Submit" />
</form>
{% endblock %}
