{% extends "iframe.html" %}

{% load md %}
{% load sekizai_tags %}

{% block "content" %}
{% addtoblock "css" %}
<style>
path.country {
    fill: #F2DACE;
    stroke: #CCC;
    }
svg {
    background: transparent;
    }
.person {
    opacity: 0.7;
    }
.person:hover {
    stroke: #000;
    }
.person.S {
    fill: #9999FF;
    }

.person.F {
    fill: #FF5555;
    }

.person.L {
    fill: #00CC00;
    }

.profile > img {
    width: 150px;
    display: inline-block;
    vertical-align: top;
    }
.profile > div {
    display: inline-block;
    width: 150px;
    height: 300px;
    overflow: auto;
    }

.profile > div > span {
    font-style: italic;
    font-size: 0.9em;
    }

.profile > div > h2 {
    margin: 0px;
    }

html,body {
    padding: 0;
    margin: 0;
    }
#info {
    position: absolute;
    top: 5px;
    left: 5px;
    background: rgba(242,218,206,0.7);
    padding: 5px;
    border-radius: 2px;
    visibility: hidden;
    }

#close {
    width: 100%;
    text-align: right;
    height: 18px;
    }

.profile {
    width: 305px;
    display: inline-block;
    }

</style>    
{% endaddtoblock %}

<div id="map">
</div>
<div id="info">
<div id="close"><i class="icon-remove-circle"></i></div>
</div>

</div>
{% addtoblock "js" %}
<script src="/static/js/d3.v3.min.js" ></script>
<script src="/static/js/topojson.min.js"></script>
<script>
var width=window.innerWidth;
var height=window.innerHeight;
var svg = d3.select("#map").append("svg")
    .attr("width",width)
    .attr("height",height-10)

var projection = d3.geo.equirectangular()
    .scale(130)
    .translate([width /2, height/2])
    .precision(0.1);

var path = d3.geo.path()
    .projection(projection);

var persons = {{persons|safe}};

d3.json("/static/data/countries.topojson", function(error,world) {
    console.log(world)
    svg.selectAll(".country")
        .data(topojson.feature(world, world.objects.world).features)
        .enter()
        .append("path")
        .attr("d",path)
        .attr("class",function(d) {return "country "+d.id})
        .on("click", function(d) {
            
            });

    var add_profile = function(d) {
        
        }

    svg.selectAll(".person")
        .data(persons)
        .enter()
        .append("circle")
        .attr("transform",function(d) { return "translate("+projection(d.geo)+")" })
        .attr("r",4)
        .attr("class",function(d) { return "person "+ d.status})
        .on("click", function(d) {
            list=persons.filter(function(x) {
                return x.geo[0] == d.geo[0] && x.geo[1]==d.geo[1] });
            console.log(list);
            var i = d3.select("#info")
            i.selectAll(".profile")
                .remove();
            var infop = i.selectAll(".profile")
                .data(list)
                .enter()
                .append("div")
                .attr("class","profile")
            
            infop.append("img")
                .attr("src",function(d) { return d.image })

            infop = infop.append("div")

            infop.append("h2")
                .text(function(d) { return d.name });

            infop.append("span")
                .text(function(d) { return d.location });

            infop.append("p")
                .text(function(d) { return d.description });

            i.attr("style","visibility: visible;");
            })
     d3.select("#close i").on("click", function() {
        d3.select("#info").attr("style","");
        })
    })
</script>
{% endaddtoblock %}
{% endblock %}
