@import url(http://fonts.googleapis.com/css?family=PT+Sans);

body {
  font-family: "helvetica neue", "helvetica", "arial", "sans-serif";
  font-size: 16px;
  }
h1, h2, h3 {
    font-family: 'PT Sans';
    }
#form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('beta.png');
  background-repeat: no-repeat;
  background-position: top right;
  }

span.badges {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("./badges-logo.png");
    vertical-align: middle;
    color: transparent;
    }
label {
  display: inline-block;
  min-width: 90px;
  }
input.submit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

input#name, input#email {
  border: 1px solid #666;
  }
ul {
  list-style: none;
  padding-left: 0px;
  }

.answer {
  margin-left: 10px;
  padding: 2px;
  margin-right: 10px;
  }

.correct {
  background: #55FF55;
  }

.wrong {
  background: #FFFF55;
  }

.question {
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: -5px;
  margin-right: -5px;
  }

img.badge {
    width: 75px;
    }

span.badge {
    width: 200px;
    vertical-align: top;
    display: inline-block;
    }

a.btn {
    color: white;
    text-decoration: none;
    background: #0db1db;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    }

form {
    color: #333333;
    }
form h1 {
    font-size: 4em;
    border-top: 5px solid #333333;
    border-bottom: 1px solid #333333;
    }
form section {
    border-top: 2px solid #333333;
    }
form section h2 {
    color: #e8280e;
    margin-bottom: 2px;
    font-weight: normal;
    }
form input {
    margin-top: 10px;
    border: 1px solid #666;
    }
form section span.explanation {
    font-size: 80%;
    display: block;
    }
form table {
    margin-top: 10px;
    font-size: 80%;
    border-spacing: 0px;
    width: 100%;
    table-layout: fixed;
    }
form table tr:nth-child(even) {
    background: #f2f2f2;
    }
form table thead {
    font-weight: bold;
    }
form table td {
    width: auto;
    text-align: center;
    }
form tr {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-spacing: 1px;
    }
li > input {
    margin-top: 0px;
    }
form textarea {
    resize: none;
    width: 99%;
    }
form select {
    display: inline-block;
    min-width: 150px;
    }
