{% extends "iframe.html" %}
{% load rnd %}
{% load md %}
{% load sekizai_tags %}
{% block "title" %}
{{quiz.name}}
{% endblock %}
{% block "content" %}

{% addtoblock "css" %}
<link rel="stylesheet" href="/static/scoda-ext.css" />
{% endaddtoblock %}

<div id="form">
<h3>{{quiz.name}}</h3>
<p>{{quiz.description|markdown}}</p>
<form method="POST">  
{% csrf_token %}
<label for="name">Your Name</label>  <input id="name" name="name"><br>  
<label for="email">Email</label>  <input id="email" name="email">  
{% if quiz.badge %}
<span class="badges">badge!</span>
{% endif %}
{% for q in quiz.questions|shuffle %}
<div class="question" id="question-{{q.id}}">{{q.question|markdown}}
    <ul>         
        {% for a in q.answers|shuffle %}
        <li>
            <input type="radio" name="{{q.id}}" id="answer-{{a.id}}"
                value="{{a.id}}">    
            <label for="answer-{{a.id}}">{{a.answer}}</label>
        </li>
        {% endfor %}
    </ul>
</div>
{% endfor %}
<input type="submit" name="submit" value="Submit" class="submit"/>
</form></div>
{% endblock %}
